.pro {
	position: relative;
	width: 1206px;
	margin: 35px auto 0;
	height: 263px;
}
.pro h2 {
	float: left;
	font-size: 23px;
	line-height: 23px;
	height: 23px;
}
.pro .more {
	position: absolute;
	font-size: 14px;
	color: #696969;
	right: 1px;
	top: 5px;
	padding-right: 27px;
	background: url(../image/more-jt.png) no-repeat right center;
}
.pro .proClass {
	float: left;
	width: 100%;
	height: 225px;
	margin-top: 15px;
}
.pro .proClass li {
	float: left;
	width: 286px;
	height: 100%;
	margin-right: 20px;
}
.pro .proClass li:hover img{
	transform: scale(1.2);
}
.pro .proClass li a {
	float: left;
	height: 100%;
	width: 100%;
}
.pro .proClass li .proOuter{
	overflow: hidden;
}

.pro .proClass li .proImage {
	float: left;
	height: 161px;
	width: 286px;
	border-radius: 4px 4px 0 0;
	transition: .7s;
}
.pro .proClass li .proContent {
	float: left;
	width: 284px;
	height: 62px;
	border: 1px solid #eeeeee;
	border-radius: 0 0 4px 4px;
}
.pro .proClass li .proContent .content1 {
	float: left;
	margin-top: 10px;
	text-indent: 10px;
	font-size: 15px;
	line-height: 15px;
	height: 15px;
	color: #161616;
	width: 100%;
}

.pro .proClass li .proContent .content2 {
	float: left;
	margin-top: 9px;
	text-indent: 10px;
	font-size: 13px;
	line-height: 13px;
	height: 13px;
	color: #929292;
	width: 100%;
}
